body,
.chat-container,
.chat-box,
.message,
.chat-form,
#chat-input,
button {
  font-family: "Tektur", sans-serif;
  color: #8a2be2;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6fa;
  margin: 0;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

#subject-input {
  font-family: "Tektur", sans-serif;
}

.chat-container {
  margin-top: 50px;
  width: 800px;
  background: #b0c4de;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box {
  height: 450px;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.message {
  display: inline-block; /* Allows box to expand based on content */
  min-height: 40px; /* Ensures a minimum size */
  height: auto; /* Allows the box to expand */
  max-width: 80%; /* Prevents messages from stretching too wide */
  padding: 10px;
  white-space: pre-wrap; /* Ensures text wraps properly */
  word-wrap: break-word; /* Prevents long words from breaking layout */
  border-radius: 10px;
  margin: 5px;
}

.message.user {
  background-color: #7b68ee;
  color: white;
  align-self: flex-start;
}

.message.bot {
  background-color: #fff0f5;
  align-self: flex-end;
}

.chat-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  height: 75px;
  text-overflow: ellipsis;
}

#chat-input {
  width: 100%;
  min-height: 40px;
  max-height: 150px;
  height: auto;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 10px;
  line-height: 1.4;
  text-align: left;
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: block;
  justify-content: center;
}

.conversations-list {
  max-height: 80%;
  overflow-y: auto;
  display: block;
}

.conversations-list-content {
  color: #8a2be2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  cursor: pointer;
}

.conversations-list-content > div {
  padding: 5px;
  margin-bottom: 3px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}

.chat-container {
  margin-left: 250px;
  width: calc(800px - 250px);
}

button {
  padding: 8px 8px;
  border: none;
  background: #9370d8;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

/* Added styles for user-info */
.user-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.user-info p {
  margin: 0;
  font-size: 20px;
}
